<div>
    <div ng-include="'template/header_with_no_nav.html'"></div>
    <section>
        <div class="container"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
            <div class="row" >
                 <div><a href="#!/login" class="btn btn-primary">이전</a></div>
                 <hr />
                 <div class="col-xm-12">
                    <form>
                        <div class="form-group">
                            <label for="userId">사업자명<span class="glyphicon glyphicon-star required-field"></span></label>
                            <input type="text" class="form-control" id="companyName" name="userId" placeholder="사업자명" ng-model="companyName" ng-change="changeCompanyName()"/>
                        </div>
                        <div class="form-group">
                            <label for="email">이메일<span class="glyphicon glyphicon-star required-field"></span></label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="이메일" ng-model="email" ng-change="changeCompanyName()">
                        </div>
                        <div class="form-group">
                            <label></label>
                            <button ng-disabled="isDisabled" class="btn btn-primary btn-block" id="dupCheck" ng-click="dupCheck()">중복확인</button>
                        </div>
                        <!-- div class="form-group">
                            <label for="mobile">휴대전화번호<span class="glyphicon glyphicon-star required-field"></span></label>
                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="휴대전화번호" ng-model="mobile">
                        </div-->
                        <div class="form-group">
                            <label for="userId">사용자 아이디<span class="glyphicon glyphicon-star required-field"></span></label>
                            <input type="text" class="form-control" id="userId" name="userId" placeholder="사용자 아이디" ng-model="userId" />
                        </div>
                        <div class="form-group">
                            <label for="pwd">비밀번호<span class="glyphicon glyphicon-star required-field"></span></label>
                            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="현재 비밀번호" ng-model="pwd">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">비밀번호 확인<span class="glyphicon glyphicon-star required-field"></span></label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 확인" ng-model="confirmPwd">
                        </div>
                        
                        <div class="form-group">
                        	<div style="width:30%; display: inline-block">
                        		<input type="checkbox" ng-model="YN_TERM" id="YN_TERM" ng-true-value="'Y'" ng-false-value="'N'">
                            	<label for="YN_TERM">이용약관 동의</label>
                        	</div>
                        	<div style="width:65%; display: inline-block">
                        		<button class="btn btn-primary btn-block" id="btn-term" ng-click="popCla()">약관보기</button>
                        	</div>
                        </div>
                        
                        <p><b>[*가입자번호는 기재하신 이메일로 발송됩니다.]</b></p>                        

                        <div class="form-group">
                            <label></label>
                            <button ng-disabled="isDisabled"  class="btn btn-primary btn-block" id="btn-add" ng-click="createUser()">가입하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'template/footer.html'"></div>
</div>
