<div id="form-top">
    <div ng-include="'template/header.html'"></div>
    <section>
         <div class="container"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
            <div class="row" >
                <h1><span ng-show="mallConfiguration.length > 0">{{mallConfiguration.length}} </span>Mall(s) - 설정</h1>
                <p>설정에서 쇼핑몰 정보를 입력하세요</p>
            </div>
            <div class="row" >
                <div class="col-xm-12" ng-show="!isEditing">
                    <button class="btn btn-primary" ng-show="!isFormVisible" ng-click="showForm()">등록</button>
                </div>
            </div>
            
            <div class="row" ng-show="isEditing || isFormVisible">
                <div class="col-xm-12" >
                    <p><strong ng-show="isEditing">Modify</strong>
                    <strong ng-show="!isEditing">Create</strong></p>
                    
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="selectedMall" class="sr-only">오픈 마켓</label>
                            <select id="selectedMall" class="form-control" ng-model="selectedMall" ng-options="mall.NM_MRK for mall in mallList">
                                <option value="">오픈마켓</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mallSellerNmMrk" class="sr-only">마켓명</label>
                            <input type="search" class="form-control" id="NM_MRK" name="NM_MRK" placeholder="마켓명" ng-model="NM_MRK">
                        </div>
                        <div class="form-group">
                            <label for="mallSellerId" class="sr-only">ID</label>
                            <input type="search" class="form-control" id="DC_MRKID" name="DC_MRKID" placeholder="id" ng-model="DC_MRKID">
                        </div>
                        <div class="form-group">
                            <label for="passwordInput" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="DC_PWD" name="DC_PWD" placeholder="password" ng-model="DC_PWD" ng-click="DC_PWD = null;">
                        </div>
                        <div class="form-group">
                            <label for="mallSellerNmShop" class="sr-only">샵명칭</label>
                            <input type="search" class="form-control" id="NM_SHOP" name="NM_SHOP" placeholder="샵명칭" ng-model="NM_SHOP">
                            <code> *스토어팜 샵명칭은 오픈마켓과 동일하게 입력하셔야 연동성공이 이루어집니다. </code>
                        </div>
                        <div class="form-group">
                            <button ng-show="isEditing == false" ng-disabled="isDisabled" class="btn btn-primary btn-block" id="btn-add" ng-click="addMall()">추가</button>
                        </div>
                        <div class="form-group">
                            <button ng-show="isEditing" ng-disabled="isDisabled" class="btn btn-primary btn-block" id="btn-add2" ng-click="updateMall()">수정</button>
                        </div>
                        <div class="form-group">
                            <button ng-disabled="isDisabled" class="btn btn-default btn-block" id="btn-add3" ng-click="cancelMall()">취소</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div class="row" >
                <div class="col-xm-12" ng-hide="mallConfiguration.length > 0">설정된 쇼핑몰이 없습니다</div>
                <div class="col-xm-6 col-sm-4 col-md-3 col-xl-2" ng-repeat="mall in mallConfiguration">
                    <div class="well">
                        <table class="table">
                            <caption>
                                <a href="{{mall.DC_SALEMNGURL}}" class="name" target="_blank"><strong>{{mall.NM_MNGMRK}} ({{mall.DC_MRKID}})<strong></a>
                                <a href="" ng-click="conMrk(mall)" ng-disabled="mall.isDisabled"><span class="glyphicon glyphicon-refresh" ng-class="{'warning': hasError(mall.DTS_UPDATE, 3600000), 'glyphicon-refresh-animate': mall.isDisabled, 'disabled': mall.isDisabled}"></span></a>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>
                                    	<span data-ng-switch="mall.CD_ITLSTAT">
                                    		<span data-ng-switch-when="001">미연동</span>
                                    		<span data-ng-switch-when="002">연동성공 
                                    			<span data-ng-switch="mall.DT_ITLSTART_RE">
                                    				<span data-ng-switch-when="">({{short2date(mall.DT_ITLSTART)}})</span>
                                    				<span data-ng-switch-default>({{short2date(mall.DT_ITLSTART_RE)}})</span>                                    				
                                    			</span> 
                                    		</span>
                                    		<span data-ng-switch-default>연동실패</span>
                                    	</span>
                                    </td>                                    
                                    <!-- <td>"연결 가능" ({{long2date(mall.updatedTime)}})</td> -->
                                </tr>
                                <tr data-ng-if="mall.CD_ITLSTAT === '003'">
                                	<td>
                                    	실패 사유 : {{mall.MSG_ITLSTAT}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary" ng-disabled="isDisabled" ng-click="editMall(mall.NO_MRK)">수정</button>
                                        <button class="btn btn-warning" ng-disabled="isDisabled" ng-click="deleteMall(mall)">삭제</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'template/footer.html'"></div>
</div>