
.login-page {width: 100%; height:100%;}


.login-page * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

.login-page .login { 
	/* position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -150px;
	width:300px;
	height:300px; */
	position : relative;
	margin : 15% 10% 10% 10%;
}

.login-page input { 
	margin-bottom: 10px; 
	padding: 10px;
}
.login-page a:hover {
  text-decoration: none;
}

.login-checkbox{
	 margin-bottom: 30px;
}

.login-checkbox span{	  
	 margin-left: 3px; 
	 font-size: 14px;
	 font-weight : normal;
}