<div>
    <div ng-include="'template/header.html'"></div>
    <section>
        <div class="container"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
            <div class="row" >
                 <div class="col-xm-12">
                    <form>
                        <div class="form-group">
                            <label for="userId">사용자 아이디</label>
                            <input type="text" class="form-control" id="userId" name="userId" placeholder="사용자 아이디" ng-model="userId" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="email">이메일<span class="glyphicon glyphicon-star required-field"></span></label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="이메일" ng-model="DC_EMIADDR">
                        </div>
                        <div class="form-group">
                            <label for="mobile">휴대전화번호<span class="glyphicon glyphicon-star required-field"></span></label>
                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="휴대전화번호(010-xxxx-xxxx)" ng-model="NO_CEPH">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">신규 비밀번호</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="신규 비밀번호" ng-model="newPwd">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">신규 비밀번호 확인</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="신규 비밀번호 확인" ng-model="confirmPwd">
                        </div>

                        <div class="form-group">
                            <label></label>
                            <button ng-disabled="isDisabled"  class="btn btn-primary btn-block" id="btn-edit" ng-click="updateUser()">변경하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'template/footer.html'"></div>
</div>
